{
    "singleQuote": true,
    "bracketSpacing": true,
    "printWidth": 140,
    "semi": true,
    "tabWidth": 4,
    "trailingComma": "none",
    "overrides": [{
        "files": "*.json",
        "options": {
            "parser": "json",
            "singleQuote": false
        }
    }]
}